@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  background-color: #ffff;
  color: #393d43;
}

.nav-link {
  color: #22252e;
}

.nav-link:hover {
  color: #6c727c;
}

.product-section .product-item {
  margin-bottom: 20px;
}

a.button-more-products {
  padding: 10px 30px;
  border: 1px solid green;
  border-radius: 10px;
  color: green;
}

a.button-more-products:hover {
  padding: 10px 30px;
  border: 1px solid #ffff;
  border-radius: 10px;
  color: #fff;
  background-color: green;
}

a.category-link {
  text-decoration: none;
  color: #6c727c;
  border: 2px solid #6c727c;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 5px;
}

a.category-link:hover {
  text-decoration: none;
  color: #fff;
  border: 2px solid #ffff;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #6c727c;
  margin-right: 5px;
  transition: 0.3s;
}

footer li {
  list-style-type: none;
  color: #6c727c;
}

/* Single Product */
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  outline: inherit;
  margin: 0 10px;
}

.button-border {
  border: 1px solid green;
  border-radius: 20px;
  margin: 0 10px;
}

.input-quantity {
  border: none;
}

/* Address Tab */

.address-active {
  background-color: #c9fde0;
}

/* Login */
.form-control:focus {
  border-color: #0ab30a;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(0, 255, 102, 0.6);
}

.notification-item-new:hover {
  background-color: #f3f4f5;
  cursor: pointer;
}

.notification-item-new {
  background-color: #ebffef;
}
